/* ===========================================
VARIABLES
=========================================== */
:root{
  --green: #30E310;
  --blue: #450AF5;
  --greendark: #56B40F;
}

/* ===========================================
FUENTES
=========================================== */
@font-face {
  font-family: 'poppins-regular';
  font-weight: normal;
  font-style: normal;
  src: 
      url('fonts/Poppins-Regular.ttf') format('truetype'),
      url('fonts/Poppins-Regular.woff') format('woff'),
      url('fonts/Poppins-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'poppins-medium';
  font-weight: normal;
  font-style: normal;
  src: 
      url('fonts/Poppins-Medium.ttf') format('truetype'),
      url('fonts/Poppins-Medium.woff') format('woff'),
      url('fonts/Poppins-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'poppins-bold';
  font-weight: normal;
  font-style: normal;
  src: 
  url('fonts/Poppins-Bold.ttf') format('truetype'),
  url('fonts/Poppins-Bold.woff') format('woff'),
  url('fonts/Poppins-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'poppins-semi';
  font-weight: normal;
  font-style: normal;
  src: 
  url('fonts/Poppins-SemiBold.ttf') format('truetype'),
  url('fonts/Poppins-SemiBold.woff') format('woff'),
  url('fonts/Poppins-SemiBold.woff2') format('woff2');
}

/* ===========================================
RESET / NORMALIZACION
=========================================== */
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

* ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

/* ===========================================
ESTILOS GLOBALES
=========================================== */
body{
  background-color: var(--green);
}

html *{
  font-family: 'poppins-regular';
}

/* ===========================================
UTILIDADES
=========================================== */

/* ===========================================
COMPONENTES / SECCIONES
========================================== */
.header-principal{
  padding-top: 10px;
  margin-bottom: 20px;
  .container-header{
    position: relative;
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    .title-mobile{
      font-size: 14px;
    }
    .menu-header{
      display: none;
      position: absolute;
      top: 100%;
      right: 0;
      ul{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        a{
          text-decoration: none;
          font-size: 12px;
          color: black;
        }
      }
    }
    .block{
      display: block;
    }
    .menu-desplegable{
      padding: 2px;
      span{
        width: 20px;
        height: 2px;
        background-color: black;
        display: block;
        margin: 2px;
      }
    }
  }
  .image-hero-mobile{
    width: 50%;
    filter: drop-shadow(0px 20px 10px yellow);
  }
}

.main-principal{
  margin-bottom: 50px;
  .container-main-principal{
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
    h2{
      font-size: 14px;
      text-align: center;
      margin-bottom: 10px;
    }
    .descrip-cambio-climatico{
      padding: 15px;
      font-size: 10px;
      background-image: linear-gradient(to right, var(--blue), var(--greendark));
      border-radius: 30px;
      color: white;
    }
  }
}

.main-causas{
  margin-bottom: 50px;
  .container-main-causas{
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
    h2{
      font-size: 14px;
      text-align: center;
      margin-bottom: 10px;
    }
    .causas-cambio-climatico{
      padding: 15px;
      font-size: 10px;
      background-image: linear-gradient(to right, var(--blue), var(--greendark));
      border-radius: 30px;
      color: white;
    }
  }
}

.main-consecuencias{
  margin-bottom: 50px;
  .container-main-consecuencias{
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
  h2{
    font-size: 14px;
    text-align: center;
    margin-bottom: 10px;
  }
  .consecuencias-cambio-climatico{
    padding: 15px;
    font-size: 10px;
    background-image: linear-gradient(to right, var(--blue), var(--greendark));
    border-radius: 30px;
    color: white;
    .lista-consecuencias{
      list-style: inside;
      margin-top: 10px;
    }
  }
}

.main-paises-afectados{
  margin-bottom: 50px;
  .container-main-paises-afectados{
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
  h2{
    font-size: 14px;
    text-align: center;
    margin-bottom: 20px;
  }
  .paises{
    display: flex;
    flex-direction: column;
    gap: 20px;
    article{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      border: 1px solid var(--blue);
      border-radius: 10px;
      padding: 5px 10px 5px 10px;
      background-color: rgba(195, 158, 158, 0.5);
      box-shadow: 0px 0px 8px 1px white;
      h3{
        font-size: 12px;
      }
      p{
        font-size: 10px;
      }
    }
  }
}

.main-acciones{
  margin-bottom: 50px;
  h2{
    font-size: 14px;
    text-align: center;
    margin-bottom: 20px;
  }
  .container-main-acciones{
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
    .protocolo-kioto{
      display: flex;
      flex-direction: column;
      gap: 20px;
      border-bottom: 3px solid var(--blue);
      padding-bottom: 20px;
      h3{
        font-size: 13px;
        color: var(--blue);
      }
      article{
        display: flex;
        flex-direction: column;
        gap: 10px;
        border: 1px solid var(--blue);
        padding: 5px 10px;
        border-radius: 10px;
        background-color: rgba(195, 158, 158, 0.5);
        box-shadow: 0px 0px 8px 1px white;
        h4{
          font-size: 12px;
        }
        p{
          font-size: 10px;
        }
      }
    }
    .acuerdo-paris{
      padding-top: 20px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding-bottom: 20px;
      border-bottom: 3px solid var(--blue);
      h3{
        font-size: 13px;
        color: var(--blue);
      }
      article{
        display: flex;
        flex-direction: column;
        gap: 10px;
        border: 1px solid var(--blue);
        padding: 5px 10px;
        border-radius: 10px;
        background-color: rgba(195, 158, 158, 0.5);
        box-shadow: 0px 0px 8px 1px white;
        h4{
          font-size: 12px;
        }
        p{
          font-size: 10px;
          text-align: center;
        }
        .text-left{
          text-align: left;
        }
      }
    }
  }
}

.main-soluciones{
  margin-bottom: 50px;
  .container-main-soluciones{
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    h2{
      font-size: 14px;
      text-align: center;
      margin-bottom: 20px;
    }
    p{
      font-size: 13px;
      color: var(--blue);
      margin-bottom: 20px;
    }
    h3{
      font-size: 14px;
      text-align: center;
      margin-bottom: 20px;
    }
    .soluciones{
      display: flex;
      flex-direction: column;
      gap: 20px;
      article{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        border: 1px solid var(--blue);
        padding: 5px 10px;
        border-radius: 10px;
        background-color: rgba(195, 158, 158, 0.5);
        box-shadow: 0px 0px 8px 1px white;
        h4{
          font-size: 12px;
        }
        p{
          font-size: 10px;
          color: black;
        }
      }
    }
  }
}

.main-conclusion{
  margin-bottom: 50px;
  .container-conclusion{
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
    h2{
      font-size: 14px;
      text-align: center;
      margin-bottom: 20px;
    }
    article{
      font-size: 10px;
      color: black;
      border: 1px solid var(--blue);
      border-radius: 10px;
      background-image: radial-gradient(aqua, yellow);
      padding: 5px 10px;
      box-shadow: 0px 0px 8px 1px white;
    }
  }
}

footer{
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
  p{
    font-size: 12px;
    font-family: 'poppins-regular';
  }
}

/* ===========================================
BREAKPOINTS (MEDIA QUERIES)
========================================== */
@media( width < 1280px){
  .header-principal .image-hero-desktop{
    display: none;
  }
  .header-principal .titles-hero-desktop{
    display: none;
  }
}

@media (width >= 768px) {
  .header-principal .container-header .title-mobile {
    font-size: 25px;
  }
  .header-principal .container-header .menu-header ul li a{
    font-size: 17px;
  }
  .header-principal .container-header .menu-desplegable span{
    width: 40px;
  }
  .header-principal .image-hero-mobile{
    margin-left: 20%;
  }
}

@media(width >= 1280px){
  .header-principal .container-header .title-mobile{
    display: none;
  }
  .header-principal .container-header .menu-desplegable{
    display: none;
  }
  .header-principal .container-header .menu-header{
    display: block;
    position: fixed;
    top: 0;
    padding: 20px 0px;
    width: 100%;
    background-color: var(--green);
  }
  .header-principal .container-header .menu-header ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
  .header-principal .image-hero-mobile{
    display: none;
  }
  .header-principal .image-hero-desktop{
    width: 100%;
    position: absolute;
    z-index: -1;
  }
  .header-principal .container-header .menu-header ul li a:hover{
    color: white;
    text-shadow: 0px 0px 15px black;
  }
  .header-principal .titles-hero-desktop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
    padding: 40px 0px 40px 0px;
    margin-bottom: 40px;
  }
  .header-principal .titles-hero-desktop .title1-desktop{
    font-size: 45px;
    width: 30%;
    height: 100%;
  }
  .header-principal .titles-hero-desktop .title2-desktop{
    font-size: 45px;
    width: 30%;
    height: 100%;
  }
}

@media(width >= 1512px){
  .header-principal{
    padding-top: 20px;
  }
  .header-principal .titles-hero-desktop .title1-desktop {
    font-size: 60px;
    font-family: 'poppins-bold';
  }
  .header-principal .titles-hero-desktop .title2-desktop{
    font-size: 60px;
    font-family: 'poppins-bold';
  }
}

@media(width >= 1920px){
  .header-principal .container-header .menu-header ul li a{
    font-size: 20px;
  }
  .header-principal .container-header{
    max-width: 90%;
  }
  .header-principal .container-header .menu-header ul{
    max-width: 90%;
  }
  .header-principal .titles-hero-desktop{
    max-width: 90%;
    margin-bottom: 70px;
  }
  .header-principal .titles-hero-desktop .title1-desktop{
    font-size: 70px;
  }
  .header-principal .titles-hero-desktop .title2-desktop{
    font-size: 70px;
  }
}

@media (width >= 768px){
  .main-principal .container-main-principal h2{
    font-size: 20px;
    margin-bottom: 20px;
  }
  .main-principal .container-main-principal .descrip-cambio-climatico{
    font-size: 16px;
    padding: 20px;
  }
}

@media(width >= 1512px){
  .main-principal .container-main-principal h2{
    font-size: 40px;
    margin-bottom: 60px;
    transition-property: color, text-shadow;
    transition-duration: 0.3s;
    transition-timing-function: ease;
  }
  .main-principal .container-main-principal h2:hover{
    color: yellow;
    text-shadow: 5px 5px 10px var(--blue);
  }
  .main-principal .container-main-principal .descrip-cambio-climatico{
    font-size: 21px;
    font-family: 'poppins-semi';
    padding: 30px 40px;
  }
}

@media(width >= 1920px){
  .main-principal .container-main-principal{
    max-width: 90%;
  }
}

@media (width >= 768px){
  .main-causas .container-main-causas h2{
    font-size: 20px;
    margin-bottom: 20px;
  }
  .main-causas .container-main-causas .causas-cambio-climatico{
    font-size: 16px;
    padding: 20px;
  }
}

@media(width >= 1512px){
  .main-causas .container-main-causas h2{
    font-size: 40px;
    margin-bottom: 60px;
    transition-property: color, text-shadow;
    transition-duration: 0.3s;
    transition-timing-function: ease;
  }
  .main-causas .container-main-causas h2:hover{
    color: yellow;
    text-shadow: 5px 5px 10px var(--blue);
  }
  .main-causas .container-main-causas .causas-cambio-climatico{
    font-size: 21px;
    font-family: 'poppins-semi';
    padding: 30px 40px;
  }
}

@media(width >= 1920px){
  .main-causas .container-main-causas{
    max-width: 90%;
  }
}

@media (width >=768px){
  .main-consecuencias .container-main-consecuencias h2{
    font-size: 20px;
    margin-bottom: 20px;
  }
  .main-consecuencias .container-main-consecuencias .consecuencias-cambio-climatico{
    font-size: 16px;
    padding: 20px;
  }
  .main-consecuencias .container-main-consecuencias .consecuencias-cambio-climatico .lista-consecuencias{
    margin-top: 20px;
  }
}

@media (width >= 1512px){
  .main-consecuencias .container-main-consecuencias h2{
      font-size: 40px;
      margin-bottom: 60px;
      transition-property: color, text-shadow;
      transition-duration: 0.3s;
      transition-timing-function: ease;
  }
  .main-consecuencias .container-main-consecuencias h2:hover{
    color: yellow;
    text-shadow: 5px 5px 10px var(--blue);
  }
  .main-consecuencias .container-main-consecuencias .consecuencias-cambio-climatico{
    font-size: 21px;
    font-family: 'poppins-semi';
    padding: 30px 40px;
  }
  .main-consecuencias .container-main-consecuencias .consecuencias-cambio-climatico .lista-consecuencias{
    margin-top: 40px;
  }
}

@media(width >= 1920px){
  .main-consecuencias .container-main-consecuencias{
    max-width: 90%;
  }
}


@media(width >= 768px){
  .main-paises-afectados .container-main-paises-afectados h2{
    font-size: 20px;
    margin-bottom: 40px;
  }
  .main-paises-afectados .container-main-paises-afectados .paises{
    gap: 40px;
  }
  .main-paises-afectados .container-main-paises-afectados .paises article{
    gap: 20px;
  }
  .main-paises-afectados .container-main-paises-afectados .paises article h3{
    font-size: 18px;
  }
  .main-paises-afectados .container-main-paises-afectados .paises article p{
    font-size: 16px;
  }
}

@media(width >= 1280px){
  .main-paises-afectados .container-main-paises-afectados .paises{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}

@media(width >= 1512px){
  .main-paises-afectados .container-main-paises-afectados h2{
    font-size: 40px;
    margin-bottom: 60px;
    transition-property: color, text-shadow;
    transition-duration: 0.3s;
    transition-timing-function: ease;
  }
.main-paises-afectados .container-main-paises-afectados h2:hover{
  color: yellow;
  text-shadow: 5px 5px 10px var(--blue);
  }
  .main-paises-afectados .container-main-paises-afectados .paises article{
    padding: 40px 20px;
  }
  .main-paises-afectados .container-main-paises-afectados .paises article h3{
    font-size: 25px;
    font-family: 'poppins-bold';
  }
  .main-paises-afectados .container-main-paises-afectados .paises article p{
    font-size: 21px;
    font-family: 'poppins-semi';
  }
}

@media(width >= 1920px){
  .main-paises-afectados .container-main-paises-afectados{
    max-width: 90%;
  }
}

@media(width >= 768px){
  .main-acciones h2{
    font-size: 20px;
    margin-bottom: 40px;
  }
  .main-acciones .container-main-acciones .protocolo-kioto{
    padding-bottom: 40px;
  }
  .main-acciones .container-main-acciones .protocolo-kioto h3{
    font-size: 19px;
    margin-bottom: 20px;
  }
  .main-acciones .container-main-acciones .protocolo-kioto article{
    padding: 20px;
  }
  .main-acciones .container-main-acciones .protocolo-kioto article h4{
    font-size: 18px;
  }
  .main-acciones .container-main-acciones .protocolo-kioto article p{
    font-size: 16px;
  }
  .main-acciones .container-main-acciones .acuerdo-paris{
    padding-bottom: 40px;
  }
  .main-acciones .container-main-acciones .acuerdo-paris h3{
    font-size: 19px;
    margin-bottom: 20px;
  }
  .main-acciones .container-main-acciones .acuerdo-paris article{
    padding: 20px;
  }
  .main-acciones .container-main-acciones .acuerdo-paris article h4{
    font-size: 18px;
  }
  .main-acciones .container-main-acciones .acuerdo-paris article p{
    font-size: 16px;
  }
}

@media(width >= 1280px){
  .main-acciones .container-main-acciones{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    padding-bottom: 40px;
  }
  .main-acciones .container-main-acciones .protocolo-kioto{
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    border: 0;
  }
  .main-acciones .container-main-acciones .acuerdo-paris h3{
    text-align: center;
  }
  .main-acciones .container-main-acciones .acuerdo-paris{
    width: 45%;
    display: flex;
    flex-direction: column;
    padding: 0;
    border: 0;
  }
}

@media(width >= 1512px){
  .main-acciones h2{
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
    margin-bottom: 60px;
    transition-property: color, text-shadow;
    transition-duration: 0.3s;
    transition-timing-function: ease;
  }
  .main-acciones h2:hover{
  color: yellow;
  text-shadow: 5px 5px 10px var(--blue);
  }
  .main-acciones .container-main-acciones .protocolo-kioto h3{
    font-size: 25px;
    font-family: 'poppins-bold';
  }
  .main-acciones .container-main-acciones .protocolo-kioto article{
    padding: 40px 20px;
  }
  .main-acciones .container-main-acciones .protocolo-kioto article h4{
    font-size: 23px;
    font-family: 'poppins-bold';
  }
  .main-acciones .container-main-acciones .protocolo-kioto article p{
    font-size: 21px;
    font-family: 'poppins-semi';
  }
  .main-acciones .container-main-acciones .acuerdo-paris h3{
    font-size: 25px;
    font-family: 'poppins-bold';
  }
  .main-acciones .container-main-acciones .acuerdo-paris article{
    padding: 40px 20px;
  }
  .main-acciones .container-main-acciones .acuerdo-paris article h4{
    font-size: 23px;
    font-family: 'poppins-bold';
  }
  .main-acciones .container-main-acciones .acuerdo-paris article p{
    font-size: 21px;
    font-family: 'poppins-semi';
  }
}

@media(width >= 1920px){
  .main-acciones h2{
    max-width: 90%;
  }
  .main-acciones .container-main-acciones{
    max-width: 90%;
  }
}

@media(width>= 768px){
  .main-soluciones .container-main-soluciones h2{
    font-size: 20px;
    margin-bottom: 40px;
  }
  .main-soluciones .container-main-soluciones p{
    font-size: 17px;
  }
  .main-soluciones .container-main-soluciones h3{
    font-size: 18px;
  }
  .main-soluciones .container-main-soluciones .soluciones article{
    gap: 20px;
    padding: 20px;
  }
  .main-soluciones .container-main-soluciones .soluciones article h4{
    font-size: 18px;
  }
  .main-soluciones .container-main-soluciones .soluciones article p{
    font-size: 16px;
  }
}

@media(width >= 1280px){
  .main-soluciones .container-main-soluciones .soluciones{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .main-soluciones .container-main-soluciones p{
    margin-bottom: 40px;
  }
  .main-soluciones .container-main-soluciones h3{
    margin-bottom: 50px;
  }
}

@media(width >= 1512px){
  .main-soluciones .container-main-soluciones h2{
    font-size: 40px;
    margin-bottom: 60px;
    transition-property: color, text-shadow;
    transition-duration: 0.3s;
    transition-timing-function: ease;
  }
  .main-soluciones .container-main-soluciones h2:hover{
  color: yellow;
  text-shadow: 5px 5px 10px var(--blue);
  }
  .main-soluciones .container-main-soluciones p{
    font-size: 23px;
    font-family: 'poppins-medium';
  }
  .main-soluciones .container-main-soluciones h3{
    font-size: 25px;
    font-family: 'poppins-bold';
  }
  .main-soluciones .container-main-soluciones .soluciones article h4{
    font-size: 23px;
    font-family: 'poppins-bold';
  }
  .main-soluciones .container-main-soluciones .soluciones article p{
    font-size: 21px;
    font-family: 'poppins-semi';
  }
}

@media(width >= 1920px){
  .main-soluciones .container-main-soluciones{
    max-width: 90%;
  }
}

@media(width >= 768px){
  .main-conclusion .container-conclusion h2{
    font-size: 20px;
    margin-bottom: 40px;
  }
  .main-conclusion .container-conclusion article{
    padding: 20px;
    font-size: 16px;
  }
}

@media (width >= 1512px) {
  .main-conclusion .container-conclusion h2{
    font-size: 40px;
    margin-bottom: 60px;
    transition-property: color, text-shadow;
    transition-duration: 0.3s;
    transition-timing-function: ease;
  }
  .main-conclusion .container-conclusion h2:hover{
  color: yellow;
  text-shadow: 5px 5px 10px var(--blue);
  }
  .main-conclusion .container-conclusion article{
    padding: 40px 20px;
    font-size: 21px;
    font-family: 'poppins-semi';
  }
}

@media(width >= 1920px){
  .main-conclusion .container-conclusion{
    max-width: 90%;
  }
}

@media(width >= 1280px){
  footer p{
    font-size: 18px;
  }
}

@media(width >= 1512px){
  footer p{
    font-size: 21px;
    font-family: 'poppins-medium';
  }
}

@media(width >= 1920px){
  footer{
    max-width: 90%;
  }
  footer p{
    font-size: 23px;
  }
}